* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.bar{
  width: 100%;
  height: 80px;
}

#fixed-bar{
  background-color: rgb(232, 248, 255);
  position: fixed;
  z-index: 999;
  min-width: 1200px;
  
}

.container{
  width: 80%;
  margin: auto;
  padding-top: 30px;
  min-width: 1200px;
}

#container-fixed{
  padding-top: 0px;
}


.box{
  width: 50%;
  height: 80px;
  vertical-align: middle;
}

.sbarretta{
  border-left: solid 1px black;
  padding-left: 20px;
  margin-left: 20px;
}

.log-list{
  display: inline-block;
  list-style: none;
  height: 100%;
}

#lingue{
  display: inline-block;
  padding-top: 30px;
}

#dx{
  padding-top: 15px;
}

.top-link{
  color: black;
}

#search{
  color: rgb(134, 194, 247);
  padding-top: 15px;
}

#logotipo{
  padding-top: 80px;  
  box-sizing: content-box;
}

#logo-pic{
  padding-bottom: 20px;
}

.nav-item{
  display: inline-block;
  padding-left: 20px;
  color: black;
}

.nav-link{
  color: black;
}

#jumbotrone{
  width: 100%;
  height: 700px;
  background-image: url(img/jumbotron.png);
  background-size: cover;
  position: relative;
}

.jumbo-frame{
  width: 40%;
  height: 600px;
  padding-top: 80px;
}

#jumbo-header{
  padding-top: 20px;
}

#jumbo-bar{
  background-color: rgb(195, 247, 244);
  position: absolute;
  bottom: 0px;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
  height: 82px;
}

.jumbo-text{
  list-style: none;
}

.h-jumbo{
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

.jumbo-item{
  margin-bottom: 30px;
  line-height: 20px;
}

.jumbo-p{
  font-size: 14px;
  width: 400px;
}

.jumbo-p-header{
  width: 500px;
  line-height: 30px;
}

#jumbo-payoff{
  font-size: 11px;
}

.btn{
  width: 170px;
  line-height: 50px;
  text-align: center;
  background-color: rgb(251, 95, 72);
  border-radius: 6px;
  color: white;
}

.log-item{
  display: inline-block;
  margin-left: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#log-btn{
  color: orangered;
  margin-right: 30px;
  margin-left: 30px;
  width: 100px;
  background-color: white;
  border: solid 1px orangered;
  line-height: 50px ;
}

#link-log{
  color: orangered;
}

#jumbo-btn{
  width: 180px;
}

#powerful{
  width: 100%;
  height: 1250px;
  background-color: rgb(201, 235, 249);
}

.img-main{
  width: 150px;
}

.incipit{
  height: 250px;
}

#incipit-main{
  text-align: center;
  color: rgb(39, 54, 73);
  width: 60%;
  margin: auto;
}

.p-main{
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

#incipit-row{
  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
  border-radius: 6px;
  box-shadow: 2px 2px 15px #888888;
}

.main-icon{
  width: 150px;
}

.box-main{
  width: 400px;
  height: 250px;
  padding-top: 30px;
}

#incipit-row-btn{
  margin-left: 100px;
  width: 180px;
  margin-top: 20px;
}

#row-list{
  text-align: left;
  width: 600px;
}

/* #line{
  width: 220px;
  height: 2px;
  background-color: black;  
  text-align: center;
} */

.row-item{
  margin-bottom: 15px;
}

.hr-row{
  width: 590px;
  margin-top: 10px;
}

.p-row-item{
  line-height: 27px;
}

.inline-row-item{
  display: inline-block;
  margin-right: 10px;
}

.check-row{
  color: orangered;
}

.h-row{
  font-size: 30px;
  font-weight: 600;
}

.colonna{
  width: 32%;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  height: 600px;
  box-shadow: 2px 2px 15px #888888;
  text-align: center;
  margin: auto;
}

.quadro-up{
  width: 100%;
  height: 50%;
  padding-left: 40px;
  padding-right: 40px;
}

.down{
  border-top: solid 1px black;
  width: 90%;
  margin: auto;
  padding-top: 50px;
}

#table{
  width: 108px;
}

#office{
  width: 150px;
}

.check-item{
  list-style: none;
  margin-top: 15px;
}

.frame-check-list{
  margin-top: 40px;
}

.frame-check-list{
  text-align: left;
  margin-left: 38px;
}

.btn-col{
  margin-left: 0px;
  margin-top: 25px;
}


#col-centrale{
  margin-left: 2%;
  margin-right: 2%;
}

#learn{
  height: 600px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,86,185,1) 0%, rgba(0,212,255,1) 100%);
}

#pay-off{
  height: 150px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}

.pay-item{
  padding-top: 20px;
}

.h-off{
  width: 900px;
  margin: auto;
}

.p-off{
  margin-top: 30px;
  line-height: 20px;
  font-size: 13px;
}

.learn-list{
  list-style: none;
  text-align: center;
}

.learn-item{
  width: 300px;
  height: 50px;
  padding-top: 30px;
  margin-bottom: 15px;
  margin: auto;
  color: white;
}

.h-learn{
  font-size: 30px;
  font-weight: 800;
}

.plus{
  font-weight: 600;
  font-size: 20px;
}

.p-learn{
  font-size: 10px;
  font-weight: 600;
}

.riga{
  height: 170px;
}

#prima-riga{
  border-bottom: solid 1px rgb(255, 255, 255);
}

.lil-box{
  width: calc(100%/4);
  height: 169px;
}

.central-box{
  border-left: solid 1px rgb(255, 255, 255);
  border-right: solid 1px rgb(255, 255, 255);
}

#clients{
  height: 600px;
}

.h-client{
  font-size: 40px;
  margin-bottom: 10px;
  text-align: left;
}

.p-client{
  font-size: 12px;
  text-align: left;
  line-height: 20px;
}

.text-clients{
  height: 100px;
  width: 250px;
  margin-bottom: 100px;
  padding-left: 80px;
  padding-top: 60px;
  text-align: center;
}

#call-clients{
  height: 300px;
}

.cento{
  font-weight: 600;
}

.container-loghi{
  height: 100px;
  width: 625px;
  margin-top: 60px;
}

.tab-loghi{
  list-style: none;
}

.logo-client{
  display: inline;
  vertical-align: middle;
  margin-right: 20px;
}

.brand{
  width: 120px;
  text-align: center;
}

#container-clients{
  position: relative;
}

.box-cina{
  background-image: url(img/woman.webp);
  background-size: cover;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 220px;
  height: 280px;
}

/* footer */

footer{
  background-color: rgb(57, 57, 57);
  height: 500px;
  color: white;
}

#container-row-footer{
  height:300px;
}

.lista-footer{
  list-style: none;
}

.list-title{
  font-size: 11;
  margin-bottom: 20px;
  font-weight: 800;
  color: white;
}

.skill{
  margin-bottom: 10px;
  font-weight: 400;
  color: white;
}

.colonna-footer{
  width: calc(100%/4);
}

.btn-footer{
  border-radius: 6px;
  background-color: snow;
  color: rgb(38, 56, 72);
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin: auto;
  font-weight: 400;
  font-size: 10;
}

#call-in-footer{
  margin-top: 25px;
}

.container-icons{
  height: 20px;
  width: 225px;
  margin-top: 30px;
}

.col-icon{
  width: calc(100%/5);
  height: 20px;
  display: inline-block;
  text-align: center;
}

.img-col-icon{
  width: 120px;
  padding-top: 50px;
}



.social-icon{
  color: rgb(155, 155, 155);
  font-size: 22px;
}

#footer-language{
  height: 30px;
  margin: auto;
}

.row-lingue{
  text-align: center;
}

.lingua{
  margin-right: 20px;
}

#colophone{
  border-top: solid 1px rgb(186, 186, 186);
}

.logo-footer{
  margin-top: 20px;
  width: 100px;
}

.copy{
  display: block;
}

.frame-policy{
  margin-top: 20px;
}

.policy{
  display: inline-block;
  margin-left: 30px;
}

.policink{
  color: whitesmoke;
}

#footer-section{
  color:   color: rgb(155, 155, 155);
}